    <div id="menuIzquierda">
			<h1>Practica 6</h1>
			<h3>SISTEMAS Y TECNOLOGIAS WEB</h3>

		</div>

    <div id="content">

            <form action="/" method="post">
                <label>Enter a value</label>
                <input class="u-full-width" name="original" type="text" autofocus placeholder="Enter a value">
            </form>
            <p>Converted Unit 1: <span class="output" id="converted"><%= result1 %></span></p>
            <p>Converted Unit 2: <span class="output" id="converted2"><%= result2 %></span></p>

	</div>
